<a href="https://colab.research.google.com/github/unesprodrigofct/BIgData/blob/master/SystemRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import datetime
from collections import Counter
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
#Load movielens data

genome_scores_data = pd.read_csv('genome-scores.csv') 
movies_data = pd.read_csv('movies.csv') 
movies_data2 = pd.read_csv('movies.csv') 
ratings_data = pd.read_csv('ratings.csv')

FileNotFoundError: ignored

In [0]:
genome_scores_data.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [0]:
movies_data.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
ratings_data.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

##  ***Prepare data for movies matrix***

We create 3 dfs (mov_tag_df, mov_genres_df, mov_rating_df) and calculate 3 cosine similarities for each of them. After that, we mix them and we obtain the movies matrix. While we mix the datasets, we use a formula (mov_tag_df*0.5+mov_genres_df*0.25+mov_rating_df*0.25). In this case tags are the most important data to calculate similarity so it should effect to similarity calculation more than others. Ok, let’s start to create dfs

mov_tag_df

mov_tag_df is created with using “genome_scores.csv”. We pivot the data to compare movies through the tags.

In [0]:
scores_pivot = genome_scores_data.pivot_table(index = ["movieId"],columns = ["tagId"],values = "relevance").reset_index()
scores_pivot.head()

tagId  movieId        1        2        3  ...     1125     1126     1127     1128
0            1  0.02500  0.02500  0.05775  ...  0.01925  0.03625  0.07775  0.02300
1            2  0.03975  0.04375  0.03775  ...  0.01550  0.01475  0.09025  0.01875
2            3  0.04350  0.05475  0.02800  ...  0.01700  0.01950  0.09700  0.01850
3            4  0.03725  0.03950  0.03675  ...  0.01500  0.01525  0.06450  0.01300
4            5  0.04200  0.05275  0.05925  ...  0.01650  0.01675  0.10750  0.01825

[5 rows x 1129 columns]

We need to join “scores_pivot” df with “movies_data” df to get all movieIds. Then we fill null values and drop columns which are not used

In [0]:
mov_tag_df = movies_data.merge(scores_pivot, left_on='movieId', right_on='movieId', how='left')
mov_tag_df = mov_tag_df.fillna(0) 
mov_tag_df = mov_tag_df.drop(['title','genres'], axis = 1)
mov_tag_df.head()

   movieId        1        2        3  ...     1125     1126     1127     1128
0        1  0.02500  0.02500  0.05775  ...  0.01925  0.03625  0.07775  0.02300
1        2  0.03975  0.04375  0.03775  ...  0.01550  0.01475  0.09025  0.01875
2        3  0.04350  0.05475  0.02800  ...  0.01700  0.01950  0.09700  0.01850
3        4  0.03725  0.03950  0.03675  ...  0.01500  0.01525  0.06450  0.01300
4        5  0.04200  0.05275  0.05925  ...  0.01650  0.01675  0.10750  0.01825

[5 rows x 1129 columns]

####mov_genres_df
mov_genres_df is created with using “movies.csv”. We split genres field for each movies and then we create columns for each genres. We define a function to split genres column and check it if it exists or not

In [0]:
def set_genres(genres,col):
    if genres in col.split('|'): return 1
    else: return 0

In [0]:
mov_genres_df = movies_data
mov_genres_df["Action"] = mov_genres_df.apply(lambda x: set_genres("Action",x['genres']), axis=1)
mov_genres_df["Adventure"] = mov_genres_df.apply(lambda x: set_genres("Adventure",x['genres']), axis=1)
mov_genres_df["Animation"] = mov_genres_df.apply(lambda x: set_genres("Animation",x['genres']), axis=1)
mov_genres_df["Children"] = mov_genres_df.apply(lambda x: set_genres("Children",x['genres']), axis=1)
mov_genres_df["Comedy"] = mov_genres_df.apply(lambda x: set_genres("Comedy",x['genres']), axis=1)
mov_genres_df["Crime"] = mov_genres_df.apply(lambda x: set_genres("Crime",x['genres']), axis=1)
mov_genres_df["Documentary"] = mov_genres_df.apply(lambda x: set_genres("Documentary",x['genres']), axis=1)
mov_genres_df["Drama"] = mov_genres_df.apply(lambda x: set_genres("Drama",x['genres']), axis=1)
mov_genres_df["Fantasy"] = mov_genres_df.apply(lambda x: set_genres("Fantasy",x['genres']), axis=1)
mov_genres_df["Film-Noir"] = mov_genres_df.apply(lambda x: set_genres("Film-Noir",x['genres']), axis=1)
mov_genres_df["Horror"] = mov_genres_df.apply(lambda x: set_genres("Horror",x['genres']), axis=1)
mov_genres_df["Musical"] = mov_genres_df.apply(lambda x: set_genres("Musical",x['genres']), axis=1)
mov_genres_df["Mystery"] = mov_genres_df.apply(lambda x: set_genres("Mystery",x['genres']), axis=1)
mov_genres_df["Romance"] = mov_genres_df.apply(lambda x: set_genres("Romance",x['genres']), axis=1)
mov_genres_df["Sci-Fi"] = mov_genres_df.apply(lambda x: set_genres("Sci-Fi",x['genres']), axis=1)
mov_genres_df["Thriller"] = mov_genres_df.apply(lambda x: set_genres("Thriller",x['genres']), axis=1)
mov_genres_df["War"] = mov_genres_df.apply(lambda x: set_genres("War",x['genres']), axis=1)
mov_genres_df["Western"] = mov_genres_df.apply(lambda x: set_genres("Western",x['genres']), axis=1)
mov_genres_df["(no genres listed)"] = mov_genres_df.apply(lambda x: set_genres("(no genres listed)",x['genres']), axis=1)

In [0]:
mov_genres_df.drop(['title','genres'], axis = 1, inplace=True)
mov_genres_df.head()

   movieId  Action  Adventure  ...  War  Western  (no genres listed)
0        1       0          1  ...    0        0                   0
1        2       0          1  ...    0        0                   0
2        3       0          0  ...    0        0                   0
3        4       0          0  ...    0        0                   0
4        5       0          0  ...    0        0                   0

[5 rows x 20 columns]

#####mov_rating_df
mov_rating_df is created with using “movies.csv” and “ratings.csv”. It includes year, rating and rating count information. We extract year information from “title” field. Then we group years through 0–5. We calculate mean of rating and counts of ratings for each movie. Then we group rating counts through 0–5. The reason why we group years and rating counts is that to reduce the scale and it helps to calculate better similarity. Firstly, we define a function to extract year information

In [0]:
def set_year(title):
    year = title.strip()[-5:-1]
    if str(year).isnumeric() == True: return int(year)
    else: return 1800

movies_data2['year'] = movies_data2.apply(lambda x: set_year(x['title']), axis=1)
movies = movies_data2.drop(['genres'], axis = 1)
movies.head()

   movieId                               title  year
0        1                    Toy Story (1995)  1995
1        2                      Jumanji (1995)  1995
2        3             Grumpier Old Men (1995)  1995
3        4            Waiting to Exhale (1995)  1995
4        5  Father of the Bride Part II (1995)  1995

In [0]:
#define function to group years
def set_year_group(year):
    if (year < 1900): return 0
    elif (1900 <= year <= 1975): return 1
    elif (1976 <= year <= 1995): return 2
    elif (1996 <= year <= 2003): return 3
    elif (2004 <= year <= 2009): return 4
    elif (2010 <= year): return 5
    else: return 0
movies['year_group'] = movies.apply(lambda x: set_year_group(x['year']), axis=1)
#no need title and year fields
movies.drop(['title','year'], axis = 1, inplace=True)
movies.head()

   movieId  year_group
0        1           2
1        2           2
2        3           2
3        4           2
4        5           2

In [0]:
agg_movies_rat = ratings_data.groupby(['movieId']).agg({'rating': [np.size, np.mean]}).reset_index()
agg_movies_rat.columns = ['movieId','rating_counts', 'rating_mean']
agg_movies_rat.head()

   movieId  rating_counts  rating_mean
0        1         4289.0     3.930520
1        2         1942.0     3.230947
2        3         1111.0     3.170567
3        4          251.0     2.968127
4        5         1088.0     3.117188

In [0]:
#define function to group rating counts
def set_rating_group(rating_counts):
    if (rating_counts <= 1): return 0
    elif (2 <= rating_counts <= 10): return 1
    elif (11 <= rating_counts <= 100): return 2
    elif (101 <= rating_counts <= 1000): return 3
    elif (1001 <= rating_counts <= 5000): return 4
    elif (5001 <= rating_counts): return 5
    else: return 0
agg_movies_rat['rating_group'] = agg_movies_rat.apply(lambda x: set_rating_group(x['rating_counts']), axis=1)
#no need rating_counts field
agg_movies_rat.drop('rating_counts', axis = 1, inplace=True)
mov_rating_df = movies.merge(agg_movies_rat, left_on='movieId', right_on='movieId', how='left')
mov_rating_df = mov_rating_df.fillna(0)
mov_rating_df.head()

   movieId  year_group  rating_mean  rating_group
0        1           2     3.930520           4.0
1        2           2     3.230947           4.0
2        3           2     3.170567           4.0
3        4           2     2.968127           3.0
4        5           2     3.117188           4.0

## **movies matrix**
We create 3 different datasets to calculate similarity. We use cosine similarity. Cosine similarity is a measure of similarity between two non-zero vectors of an inner product space that measures the cosine of the angle between them. I use cosine similarity because I think it often allows better meaning due to the high dimensionality. Before we calculate cosine similarity, we should set “movieId” field as index in the dfs

In [0]:
mov_tag_df = mov_tag_df.set_index('movieId')
mov_genres_df = mov_genres_df.set_index('movieId')
mov_rating_df = mov_rating_df.set_index('movieId')

In [0]:
#cosine similarity for mov_tag_df
cos_tag = cosine_similarity(mov_tag_df.values)*0.5
#cosine similarity for mov_genres_df
cos_genres = cosine_similarity(mov_genres_df.values)*0.25
#cosine similarity for mov_rating_df
cos_rating = cosine_similarity(mov_rating_df.values)*0.25
#mix
cos = cos_tag+cos_genres+cos_rating

In [0]:
cols = mov_tag_df.index.values
inx = mov_tag_df.index
movies_sim = pd.DataFrame(cos, columns=cols, index=inx)
movies_sim.head()

           1         2         3       ...    131258    131260    131262
movieId                                ...
1        1.000000  0.829694  0.680409  ...  0.195782  0.083978  0.213078
2        0.829694  1.000000  0.593249  ...  0.234964  0.090626  0.257293
3        0.680409  0.593249  1.000000  ...  0.091207  0.091207  0.091207
4        0.639815  0.567614  0.832571  ...  0.107064  0.107064  0.107064
5        0.695784  0.589422  0.857074  ...  0.091721  0.091721  0.091721

[5 rows x 27278 columns]

In [0]:
def get_similar(movieId):
    df = movies_sim.loc[movies_sim.index == movieId].reset_index(). \
            melt(id_vars='movieId', var_name='sim_moveId', value_name='relevance'). \
            sort_values('relevance', axis=0, ascending=False)[1:6]
    return df
#create empty df
movies_similarity = pd.DataFrame(columns=['movieId','sim_moveId','relevance'])

In [0]:
for x in movies_sim.index.tolist():
    movies_similarity = movies_similarity.append(get_similar(x))
movies_similarity.head()

      movieId sim_moveId  relevance
582         1        588   0.890041
1515        1       1566   0.868452
1931        1       2015   0.855987
1970        1       2054   0.850498
1765        1       1848   0.850038
...       ...        ...        ...
22750  131262     108882   0.473607
10544  131262      39801   0.466506
23115  131262     110216   0.466506
20939  131262     102250   0.466506
11986  131262      54171   0.454124

[272780 rows x 3 columns]

### **Check recommendations**
Data is ready to import graph db. We already calculate similarity of movies so we can define a function to get 5 the most similar movies for a movie.

In [0]:
def movie_recommender(movieId):
    df = movies_sim.loc[movies_sim.index == movieId].reset_index(). \
            melt(id_vars='movieId', var_name='sim_moveId', value_name='relevance'). \
            sort_values('relevance', axis=0, ascending=False)[1:6]
    df['sim_moveId'] = df['sim_moveId'].astype(int)
    sim_df = movies_data.merge(df, left_on='movieId', right_on='sim_moveId', how='inner'). \
                sort_values('relevance', axis=0, ascending=False). \
                loc[: , ['movieId_y','title','genres']]. \
                rename(columns={ 'movieId_y': "movieId" })
    return sim_df

In [0]:
#get recommendation for Toy Story
movie_recommender(1)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

   movieId  title  genres
0        1    NaN     NaN
1        1    NaN     NaN
3        1    NaN     NaN
4        1    NaN     NaN
2        1    NaN     NaN